### This is a yaml representation of the configuration.
### Any line starting with a '# will be ignored.
###
### A sample configuration looks like:
### name: container1
### profiles:
### - default
### config:
###   volatile.eth0.hwaddr: 00:16:3e:e9:f8:7f
### devices:
###   homedir:
###     path: /extra
###     source: /home/user
###     type: disk
### ephemeral: false
###
### Note that the name is shown but cannot be changed

name: DHCPSRV
profiles:
- DHCPSRV
config:
  limits.memory: 64MB
  volatile.base_image: 0afd3f6ac0d751fb121ad9a77a163926208ee71c57d68bd75cc253ce2c733a60
  volatile.eth0.hwaddr: 00:16:3e:71:cf:53
  volatile.eth0.name: eth0
  volatile.last_state.idmap: '[{"Isuid":true,"Isgid":false,"Hostid":231072,"Nsid":0,"Maprange":65536},{"Isuid":false,"Isgid":true,"Hostid":231072,"Nsid":0,"Maprange":65536}]'
devices: {}
ephemeral: false
